<!doctype html>

<html>
<head>
	<title>{{name}} Dining Hall</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/metro-bootstrap.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery.sidr.dark.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.sidr.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>  
</head>

<body class="metro">
	{{>navMenu}}

	<div class="panel">
		<div class="panel-header bg-darkRed fg-white"> 
				<h3 float="left" class="fg-white">
				 	<button id="back"  type="submit" onclick="window.location.href='{{lastPage}}'" class="bg-darkRed">
				 		<i class="icon-arrow-left fg-white"></i>
				 	</button>
			 		{{hallName}} Dining 
			 	</h3>
		</div>

		<div class="panel-content">
			<div class="accordion" data-role="accordion">
			    <div class="accordion-frame">
			        <a href="#" class="heading">
			        	<span id="expandIcon" class="icon-arrow-right-2"></span>
			        	Open till 8pm
			        </a>
			        <div class="content">
			        	Weekdays
			        	<ul>
				        	{{#each weekdayHours}}
	    						<li>{{@key}}: {{this.[0]}} - {{this.[1]}}</li>
							{{/each}}
						</ul>
						Weekends
						<ul>
							{{#each weekendHours}}
								<li>{{@key}}: {{this.[0]}} - {{this.[1]}}</li>
							{{/each}}
						</ul>
			        </div>
			    </div>
			</div>

			{{#each menu}}
			<a href="/food/{{../hallName}}/{{name}}">
				<div class="tile foodTile">
					<div class="bg-dark fg-white">{{name}}</div>
					<img src="/images/{{name}}.jpg">
					<div id="brandButtonPanel" class="brand button-set">
                        <button style="float:right;padding:0px;margin:0px;"class="thumbs-down" type="button"><i class="fg-red icon-thumbs-down">{{downvotes}}</i></button>
                        <button style="float:right;padding:0px;margin:0px;" class="thumbs-up" type="button"><i class="fg-green icon-thumbs-up">{{upvotes}}</i></button>
                    </div>
				</div>
			</a>
			{{/each}}

		</div>
	</div>

	<script>
		$('.accordion').click(function(){
			$('.content').toggle(200);
			var expandIcon = $('#expandIcon');
			if (expandIcon.hasClass('icon-arrow-down-2')) {
				expandIcon.removeClass('icon-arrow-down-2');
				expandIcon.addClass('icon-arrow-right-2');
			} else if (expandIcon.hasClass('icon-arrow-right-2')) {
				expandIcon.removeClass('icon-arrow-right-2');
				expandIcon.addClass('icon-arrow-down-2');
			}
		});
	</script>
</body>
</html>

