<!doctype html>

<html>
<head>
	<title>Delp Project Portfolio</title>	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/metro-bootstrap.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery.sidr.dark.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.sidr.min.js"></script>
    <script src="/js/bootstrap.min.js"></script> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body class="metro">

	{{>navMenu}}

	<div class="panel" id="diningPanel">
    	<div class="panel-header bg-darkRed fg-white">
    		<h3>{{#if username}}{{username}}'s {{/if}}Favorite Foods</h3>
    	</div>

    	<div class="panel-content">
            {{#if username}}
    		<div>
	    		<ul>
                {{#each favorites}}
                    <div style="clear:both;">
                    <li>
                        <div class="tile foodTile">
                            <a href='/search/{{name}}'><div class="bg-dark fg-white">{{name}}</div></a>
                            <img src="/images/{{name}}.jpg">
                        </div>
                        <p class='servedList'>Serving right now:<br>
                        {{#each dining_halls}}
                            <a href="/dining/{{this}}">{{this}}</a>, 
                        {{/each}}</p>
                    </li>
                    </div>
                {{/each}}
	    		</ul>
	    	</div>
            {{else}}
                <p>Please <a href="/login">log in</a> to access your favorites.</p>
            {{/if}}
	    </div>
    </div>

    <script>
        window.onload = function() {
            var lists = $('.servedList');
            for(var i = 0; i < lists.length; i++) {
                var list = lists[i];
                var html = list.innerHTML;
                var lastComma = html.lastIndexOf(',');
                list.innerHTML = html.substring(0, lastComma);
            }
        }

    </script>

</body>
</html>
