<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/metro-bootstrap.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/jquery.sidr.dark.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.sidr.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>  

    <script type="text/javascript">
    var liked = false;
    var disliked = false;

    function upvote() {  
        if (disliked) {
            var b = document.getElementById("thumbs-down")
            b.className = "fg-red bg-white active";
            var numLikes = {{menuItem.downvotes}};
            var likeCount = b.children[0];
            likeCount.textContent = " " + numLikes;
            disliked = false;

            var postURL = '/food/downvote/' + '{{hall}}' + '/' + '{{menuItem.name}}' + '/' + numLikes;
            $.post(postURL, function(data){});
        }
        var b = document.getElementById("thumbs-up");
        b.className = "fg-green bg-black active";
        var numLikes = {{menuItem.upvotes}} + 1;
        var likeCount = b.children[0];
        likeCount.textContent = " " + numLikes;
        liked = true;

        postURL = '/food/upvote/' + '{{hall}}' + '/' + '{{menuItem.name}}' + '/' + numLikes;
        $.post(postURL, function(data){});
    }

    function downvote()
    {   
        if (liked) {
            var b = document.getElementById("thumbs-up");
            b.className = "fg-green bg-white active";
            var numLikes = {{menuItem.upvotes}};
            var likeCount = b.children[0];
            likeCount.textContent = " " + numLikes;
            liked = false;
            var postURL = '/food/upvote/' + '{{hall}}' + '/' + '{{menuItem.name}}' + '/' + numLikes;
            $.post(postURL, function(data){});
        }
        var b = document.getElementById("thumbs-down");
        b.className = "fg-red bg-black active";
        var numLikes = {{menuItem.downvotes}} + 1;
        var likeCount = b.children[0];
        likeCount.textContent = " " + numLikes;
        disliked = true;

        var postURL = '/food/downvote/' + '{{hall}}' + '/' + '{{menuItem.name}}' + '/' + numLikes;
        $.post(postURL, function(data){});
    }
    
    function addFavorite()
    {
        var b = document.getElementById("favorites")
        b.className += "fg-amber bg-black active";
        var numLikes = {{menuItem.favorites}} + 1;
        var likeCount = b.children[0];
        likeCount.textContent = " " + numLikes;
        $.post('/addFavorite', { 'name':'{{menuItem.name}}' });
    }
    </script>

</head>

<body class="metro">

    {{>navMenu}}       

    <div class="panel">

        <div class="panel-header bg-darkRed fg-white">

            <h3 class="fg-white">
                <button id="back"  type="submit" onclick="window.location.href='{{lastPage}}'" class="bg-darkRed">
                    <i class="icon-arrow-left fg-white"></i>
                </button>
                {{menuItem.name}}  
            </h3>
        </div>
        <div class="panel-header bg-white fg-white">
            <div class="button-set rating">
                <button id="thumbs-up" class="fg-green bg-white" type="button" onclick="upvote()"><i class="icon-thumbs-up"> {{menuItem.upvotes}}</i></button>
                <button id="thumbs-down" class="fg-red bg-white" type="button" onclick="downvote()"><i class="icon-thumbs-down"> {{menuItem.downvotes}}</i></button>
                <button id="favorites" class="fg-amber bg-white" type="button" onclick="addFavorite()"><i class="icon-star-3"> {{menuItem.favorites}}</i></button>
            </div>
        </div>
        <div class="panel-content">
            <img src='/images/{{menuItem.name}}.jpg' width="300px"/ >   
        </div>
        

    </div>


    <div class="panel">
        <div class="panel-content">
            <div class="button-set">
                <span>
                    {{#each menuItem.tags}}
                    <button class="foodTag" onclick="window.location.href='/search/{{this}}'"> {{this}} </button>
                    {{/each}}
                </span>
            </div>
        </div>
    </div>
        	
    <div class="panel">
        <div class="panel-header bg-darkRed fg-white">
            <h3> Nutritional Details: </h3>
        </div>
        
        <div class="panel-content">
                <p>{{menuItem.nutritional_info}}</p>
        </div>
    </div>
</body>
</html>

