<!doctype html>

<html>
<head>
	<title>Delp</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/metro-bootstrap.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
    <link href="/css/search.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery.sidr.dark.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.sidr.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/delp.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body class="metro">
<div>
    {{>navMenu}}

    {{#if isSearch}}
        <p id="searchMsg">Your search for '{{query}}' returned results at {{halls.length}} halls. <a href="/">Clear</a> | <a href="{{lastPage}}">Back</a></p>
    {{/if}}

    <div class="panel">
        <div class="panel-header bg-darkRed fg-white">
            <h3>Favorites</h3>
        </div>
        <div class="panel-content homePageFavoritesPanel">
            {{#if username}}
                <table><tr>
                    {{#if favorites}}
                        {{#each favorites}}
                            <td valign='top'>
                            <span class="tileWrapper">
                                <a href="food/{{dining_halls.[0]}}/{{name}}">
                                    <div class="tile">
                                        <div class="bg-dark fg-white foodTitle">{{name}}</div>
                                        <img class="foodImage" src="/images/{{name}}.jpg">
                                        <div id="brandButtonPanel" class="brand button-set">
                                            <button style="float:right;padding:0px;margin:0px;"class="thumbs-down" type="button"><i class="fg-red icon-thumbs-down">{{downvotes}}</i></button>
                                            <button style="float:right;padding:0px;margin:0px;" class="thumbs-up" type="button"><i class="fg-green icon-thumbs-up">{{upvotes}}</i></button>
                                        </div>
                                    </div>
                                </a>
                                <div class="available">
                                    Available now at:
                                    {{#each dining_halls}}
                                        <a href="/dining/{{this}}">{{this}}</a>
                                    {{/each}}
                                </div>
                            </span>
                            </td>
                        {{/each}}
                    {{else}}
                        Favorite items for easy viewing here.
                    {{/if}}
                </table></tr>
            {{else}}
                Please <a href="/login">login</a> to see favorites.
            {{/if}}
        </div>
    </div>

    <div class="panel">
        <div class="panel-header bg-darkRed fg-white">
                <h3>Nearby Halls</h3>
            </div>
            <div class="panel-content">
                <div class="text-center">
                    <button type="button" class="btn primary" onclick="getNearbyHallList()">List Nearby Halls</button>
                    <button type="button" class="btn primary" onclick="window.location.href='/map'">Dining Hall Map</button>
                </div>
                <span id="hallLocationSearchResultDiv"></span>
            </div>
        </div>
    </div>

	{{#each halls}}
	<a href="/dining/{{name}}">
		<div class="panel">
	    	<div class="panel-header bg-darkRed fg-white">
	    		<h3>{{name}} Dining</h3>
	    	</div>

	    	<div class="panel-content homePageDiningPanel">
                <div class="homePageMenuPanel">
                <table><tr>
                {{#each menu}}
                    <td>
                    <a href="/food/{{../name}}/{{name}}">
            			<div class="tile foodTile homePageMenuPanelItem">
                            <div class="bg-dark fg-white foodTitle
                            asdadsf">{{name}}</div>
                            <img class="foodImage" id="{{../name}}_{{name}}" src="/images/{{name}}.jpg">
                            <div id="brandButtonPanel" class="brand button-set">
                                <button style="float:right;padding:0px;margin:0px;"class="thumbs-down" type="button"><i class="fg-red icon-thumbs-down">{{downvotes}}</i></button>
                                <button style="float:right;padding:0px;margin:0px;" class="thumbs-up" type="button"><i class="fg-green icon-thumbs-up">{{upvotes}}</i></button>
                            </div>
        				</div>
                    </a>
                    </td>
                {{/each}}
                <tr></table>
                </div>

	    	</div>

	    </div>
	</a>
    {{/each}}

    <div class="panel" id="showMore"><div class="panel-header">Show more halls</div></div>
    <div id="restHalls">
        {{#each restHalls}}
            <a href="/dining/{{name}}">
                <div class="panel">
                    <div class="panel-header bg-darkRed fg-white">
                        <h3>{{name}} Dining</h3>
                    </div>

                    <div class="panel-content homePageDiningPanel">
                        <div class="homePageMenuPanel">
                        <table><tr>
                        {{#each menu}}
                            <td>
                            <a href="/food/{{../name}}/{{name}}">
                                <div class="tile foodTile homePageMenuPanelItem">
                                    <div class="bg-dark fg-white foodTitle
                                    asdadsf">{{name}}</div>
                                    <img class="foodImage" id="{{../name}}_{{name}}" src="/images/{{name}}.jpg">
                                    <div id="brandButtonPanel" class="brand button-set">
                                        <button style="float:right;padding:0px;margin:0px;"class="thumbs-down" type="button"><i class="fg-red icon-thumbs-down">{{downvotes}}</i></button>
                                        <button style="float:right;padding:0px;margin:0px;" class="thumbs-up" type="button"><i class="fg-green icon-thumbs-up">{{upvotes}}</i></button>
                                    </div>
                                </div>
                            </a>
                            </td>
                        {{/each}}
                        <tr></table>
                        </div>

                    </div>

                </div>
            </a>
        {{/each}}
    </div>
</div>
<script>
    $('#showMore').click(showAll);

    function showAll(e){
        $('#showMore').hide(500);
        $('#restHalls').show(500);
    }

    function getNearbyHallList() {
        $('#hallLocationSearchResultDiv').html('<br><p>Getting location...</p>');
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var pos = new google.maps.LatLng(position.coords.latitude,
                                               position.coords.longitude);
              $.post('/getNearby', {'latitude': pos.lat(), 'longitude': pos.lng()}).done(handleNearbyHallsResponse);
            }, function() {
              handleNoGeolocation(true);
            });
        } else {
            // Browser doesn't support Geolocation
            handleNoGeolocation(false);
        }
    }

    function handleNearbyHallsResponse(data) {
        console.log(data);
        var content = '<p><ol>';
        for(var i = 0; i < Math.min(5, data.length); i++) {
            var hallName = data[i][0];
            var hallDistance = data[i][1].toFixed(2);
            content += '<li>'+'<a href="/dining/'+hallName+'">'+hallName+' Dining</a>: ';
            content += hallDistance+' mi</li>';
        }
        content += '</ol></p>';
        $('#hallLocationSearchResultDiv').html('<br><p>'+content+'</p>');
    }

    function handleNoGeolocation(errorFlag) {
        var content = '<br><p>Your browser doesn\'t support geolocation. Please use the map to search for nearby dining halls.</p>';
        if (errorFlag) {
            content = '<br><p>You must allow us to use your current location in order to see nearby dining halls.</p>';
        }
        $('#hallLocationSearchResultDiv').html(content);
    }
</script>
</body>
</html>
