<!doctype html>

<html>
<head>
	<title>Delp Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/metro-bootstrap.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
    <link href="/css/search.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery.sidr.dark.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.sidr.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body class="metro">
<div>
    {{>navMenu}}
	<!-- {{>nav}} -->

	{{#each menuItems}}
	<a href="/dining/{{dining_hall}}">
		<div class="panel" id="diningPanel">
	    	<div class="panel-header bg-darkRed fg-white">
	    		<h3>{{dining_hall}} Dining</h3>
	    	</div>

	    	<div class="panel-content">
	    		{{#each menu}}
	    			<div class="tile foodTile">
                        <div class="bg-dark fg-white">{{name}}</div>
                        <img src="/images/{{name}}.jpg">
                        <div id="brandButtonPanel" class="brand button-set">
                            <button style="float:right;padding:0px;margin:0px;"class="thumbs-down" type="button"><i class="fg-red icon-thumbs-down">{{downvotes}}</i></button>
                            <button style="float:right;padding:0px;margin:0px;" class="thumbs-up" type="button"><i class="fg-green icon-thumbs-up">{{upvotes}}</i></button>
                        </div>
					</div>
	    		{{/each}}

	    	</div>
	    </div>
	</a>
    {{/each}}

</div>
</body>
</html>
